.ant-dropdown-menu-title-content {
  font-size: 12px;
}

.ant-table-wrapper .ant-table-thead >tr>th {
  background: none;
  font-weight: normal;
}

.ant-table-wrapper .ant-table-tbody >tr {

  & >td {
    border-bottom: none;
  }
}
