.dark {
  .icon {
    display: block;
    margin: 0 10px;
    color: #d3d3d4;
    cursor: pointer;
    transition: color .3s;

    &:hover {
      color: #fff;
    }
  }
}

.icon {
  display: block;
  margin: 0 10px;
  color: #999;
  cursor: pointer;
  transition: color .3s;

  &:hover {
    color: #666;
  }
}

.ellipsis-1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
