.icon {
  display: block;
  padding: 0 10px;
  color: #999;
  cursor: pointer;
  transition: color .3s;

  &:hover {
    color: #666;
  }
}

.ellipsis-1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
