@use './variables.css';

.layout-header {
  height: var(--headerHeight);
  line-height: 60px;
  -webkit-app-region: drag;

  .layout-header-icons {
    -webkit-app-region: no-drag;

    i {
      padding: 0 10px;
      color: #666;
      cursor: pointer;
      transition: color .3s;
      &:hover {
        color: #333;
      }
    }
  }
}

.layout-sidebar {
  height: calc(100vh - var(--headerHeight));

  :where(.css-dev-only-do-not-override-3rgfp1).ant-menu-light.ant-menu-root.ant-menu-inline {
    border-inline-end: none;
  }
}
