@use './variables.scss' as *;
@use './mixins.scss' as *;

.layout-container {

  .layout-header {
    height: $headerHeight;
    line-height: 60px;

    .layout-header-drag {
      -webkit-app-region: drag;
    }

    .layout-header-icons {
      -webkit-app-region: no-drag;
    }
  }

  .layout-content {
    display: flex;
    height: calc(100vh - $playerHeight - $headerHeight);

    .layout-main {
      overflow: auto;
      @include scroll-bar;
    }

    .layout-sidebar {

      :where(.css-dev-only-do-not-override-3rgfp1).ant-menu-light.ant-menu-root.ant-menu-inline {
        border-inline-end: none;
      }
    }
  }
}
